@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap');

body {
  font-family: 'Maven Pro', sans-serif;
  width: 100%;
  /*background-color: #4C626F;*/
}

#root,
.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}

.normalForm {
  margin-top: 10%;

  background-color: #B5DEE0;
  border-radius: 5%;
  min-height: 250px;
  color: black;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding-left: 20px;
  padding-right: 20px;
}

.normalForm label {
  padding-right: 0;

}

.normalForm input,
label {
  margin-top: 10px;
  margin-bottom: 10px;
}

.normalForm button {
  margin-top: 10px;
  margin-bottom: 20px;
}

.cote {
  display: flex;
  flex-direction: row;

}

.test {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 5px;
  margin-left: 5px;
}

.App {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

header {
  margin-top: 0;
  background-color: #42B395;
  width: 100%;

  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;

}

.headerMenu {
  display: flex;
  flex-flow: column;
}

nav {
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}

nav button {
  background-color: #B5DEE0;
  color: black;
  border: none;
}

nav button:hover {
  border: none;
  color: white;

}

.tab {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  max-width: 60%;
}

.card {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;

  color: white;
  background-color: #42B395;

  padding: 2em;
  margin: 20px;

  min-width: 200px;
  max-width: 350px;
  min-height: 200px;

  border-radius: 50px;
}

.card:hover {
  color: #B5DEE0;
  cursor: pointer;
}

.card p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card h2 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 30px;
  padding-bottom: 10px;
}

.postTxt {
  max-width: 1000px;
  text-align: center;
}

#art {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#art label {
  margin-left: 30px;
}

#AddArt {
  margin-top: 0px;
  max-height: 100%;
}

Link {
  color: white;
}

.read-the-docs {
  color: #888;
}